@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap");
@import "tailwindcss";
@plugin "daisyui";

html,
body {
  font-family: "Lora", serif;
}

body {
  background-color: #eeeeee;
  height: 100%;
}

input {
  outline: none;
  border: none;
}

input:focus {
  outline: none;
  border: none;
}

.main-layout {
  display: grid;
  min-height: 100vh;
  grid-template-areas:
    "header"
    "content"
    "footer";
  grid-template-rows: auto 1fr auto;
  gap: 2rem;
}

.header {
  grid-area: header;
}

.content {
  grid-area: content;
}

.footer {
  grid-area: footer;
  row-gap: 1rem;
}
